#ft17Container {
	position: absolute;
}
.ft17 {
	image-rendering: pixelated;
	width: 108px;
	position: absolute;
}
#six_meters {
	image-rendering: pixelated;
	position: absolute;
	height: 96px;
	bottom: calc( 50vh + 40px);
	left: calc(50vw + 20px);
}
#soldier {
	image-rendering: pixelated;
	position: absolute;
	height: 21px;
	bottom: calc( 50vh + 10px);
	left: calc(50vw - 50px);
}