@font-face {
	font-family: "Dogica";
	src: url("../assets/fonts/dogicapixel.ttf");
}
@font-face {
	font-family: "Pixeled";
	src: url(../assets/fonts/Pixeled.ttf);
}
body {
	margin: 0px;
	background-color: black;
	overflow: hidden;
}
canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
}