@font-face {
	font-family: "Dogica";
	src: url("../assets/fonts/dogicapixel.ttf");
}
#demoTitle {
	font-family: Dogica, serif;
	z-index: 1;
	position: absolute;
}
#instructionsBox {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	right: 8px;
	bottom: 8px;
	z-index: 1;
}
.instructionContainer {
	align-items: center;
	display: flex;
	justify-content: right;
	padding: 2px 10px;
}
.keyText {
	color: rgba(255, 255, 255, 1);
	display: inline;
	font-family: Dogica, serif;
	font-size: 12px;
	margin: 4px 0px 4px 4px;
	padding: 0px;
	text-align: right;
	text-shadow: 1px 1px 0px black;
}
.keyIcon {
	display: inline;
	image-rendering: pixelated;
	width: 22px;
	height: 22px;
	margin: 4px 0px 4px 4px;
	padding: 0px;
}
#leftHandle {
	filter: drop-shadow(10px 2px 5px rgba(0, 0, 0, 0.5));
	height: 261px;
	image-rendering: pixelated;
	position: absolute;
	bottom: 0px;
	left: calc((50vw / 2) - 21px);
	z-index: 1;

}#rightHandle {
	filter: drop-shadow(15px 2px 5px rgba(0, 0, 0, 0.5));
	height: 261px;
	image-rendering: pixelated;
	position: absolute;
	bottom: 0px;
	right: calc((50vw / 2) - 21px);
	z-index: 1;

}